.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 12px;
  gap: 16px;
  border-radius: 8px;

  background-color: transparent;
  border: 1px solid transparent;

  cursor: pointer;
  transition: all 0.2s ease;
  text-align: left;
  box-sizing: border-box;
}

/* .container:hover {
  border-color: var(--color-gray-3, #ccc);
  background-color: rgba(255, 255, 255, 0.05);
} */

.container.active {
  background-color: var(--background-secondary-color);
  border: 1px solid var(--border-color);
}

.image {
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  flex-shrink: 0;
  background-color: var(--color-gray-4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-gray-2);
}

.title {
  font-size: var(--p1-font-size);
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-gray-2);
}

.subtitle {
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-gray-3);
}

.container.active .image {
  background-color: var(--color-gray-4-1);
}
